# -----------------------
# Исходные файлы, которые НЕ нужно коммитить
# -----------------------

# Виртуальные окружения
.venv/
venv/
env/
ENV/

# Переменные окружения
.env
.env.local
*.env


# Базы данных
*.db
*.sqlite3
*.sql
*.db-journal

# Логи
*.log
logs/
log/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

.pyenv

# pipenv
Pipfile.lock

# poetry
poetry.lock
*.part
.poetry

# Virtual Environment
.venv
requirements.txt  # если используешь uv, можно игнорировать, если не генерируешь

# IDE / Редакторы
.idea/
.vscode/
*.swp
*.swo
*.swn
*~

# PyCharm
*.iml
*.ipr
*.iws

# VS Code
.history
*.vscode

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.fseventsd

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

uv.lock
.uv/
